.addCategory
{
	resize: none;
	position: relative;
	width: 18%;
	font-size: 1.3em;
	padding: 2px 4px;
	float: left;
	left: 6%;
}

.btnAddCat
{
	border: none;
	position: relative;
	left: 8%;
	font-size: 1.3em;
	padding: 2px 4px;
	width: 6%;
	float: left;
}

.head
{
	font-size: 2.2em;
	position: relative;
	font-weight: bold;
	left: 6%;
	width: 260px;
}

.items
{
	font-size: 1.4em;
	position: relative;
	left: 8%;
	line-height: 1.5;
	width: 500px;
}