.heading
{
	font-size: 3.25em;
	font-weight: bold;
	padding: 8px 20px;
	position: relative;
}

.subheading
{
	font-size: 1.5em;
	font-weight: bold;
	padding: 8px 20px;
	position: relative;
}

.area1
{
	position: relative;
}

.area2
{
	position: relative;
}

.topic
{
	font-family: Verdana;
	font-size: 2.5em;
	left: 10%;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 8px 12px;
	position: relative;
	width: 1400px;
}

.content
{
	font-family: Verdana;
	font-size: 1.25em;
	left: 16%;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 8px 12px;
	position: relative;
	resize: vertical;
	width: 1200px;
	word-wrap: normal;
	line-height: 1.5;
}

.btnPublish
{
	position: relative;
	left: 65%;
	width: 15%;
	height: 2em;
	font-family: Verdana;
	font-size: 1.25em;
	border: none;
	margin-top: 10px;
	background-color: #99ff99;
	font-weight: bold;
	float: left;
	cursor: pointer;
}

.XRinfo
{
	position: relative;
	font-weight: bold;
	font-size: 1.1em;
	left: 5%;
}

img
{
	position: relative;
	float: left;
	padding: 4px 4px;
}
