*
{
	
}

body
{
	background-color: #fff2e6;
}

header
{
	background-color: #ffe5cc;
	font-size: 1.2em;
	margin: 0 0 12px 0;
}

footer
{
	height: 50px;
}

.headerHead
{
	position: relative;
	font-size: 2.5em;
	font-weight: bold;
	padding: 4px 8px;
}

.headerItems
{
	position: relative;
	float: left;
	padding: 12px 10px;
	text-decoration: none;
	color: #e63900;
	width: 100px;
	text-align: center;
}

.headerItems:hover
{
	color: black;
	background-color: #e66f00;
}

.sessionItems
{
	position: relative;
	float: right;
	padding: 4px 8px;
	margin: 6px 4px;
}

.loginItems
{
	position: relative;
	float: right;
	padding: 4px 8px;
	margin: 6px 4px;
	font-size: 1em;
	width: 12%;
}

.btnLogin
{
	border: none;
	position: relative;
	float: right;
	padding: 6px 8px;
	margin: 6px 4px;
	font-weight: bold;
	font-size: 1em;
	width: 7%;
	cursor: pointer;
}

.clear
{
	clear: both;
}