.heading
{
	font-size: 3.25em;
	font-weight: bold;
	padding: 8px 20px;
	position: relative;
}

.area1
{
	position: relative;
}

.area2
{
	height: 100px;
	position: relative;
}

.topic
{
	border: 2px solid #cccccc;
	border-radius: 6px;
	font-family: Verdana;
	font-size: 2.5em;
	left: 10%;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 8px 12px;
	position: relative;
	resize: none;
	width: 1400px;
	word-wrap: normal;
	}

.content
{
	border: 1px solid #cccccc;
	border-radius: 6px;
	font-family: Verdana;
	font-size: 1.25em;
	left: 16%;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 8px 12px;
	position: relative;
	resize: vertical;
	width: 1200px;
	word-wrap: normal;
}

.btnPreview
{
	position: relative;
	left: 50%;
	width: 15%;
	height: 2em;
	font-family: Verdana;
	font-size: 1.25em;
	border: none;
	margin: 10px 0;
	background-color: #99ff99;
	font-weight: bold;
	float: left;
	cursor: pointer;
}

.btnBack
{
	position: relative;
	left: 20%;
	width: 15%;
	height: 2em;
	font-family: Verdana;
	font-size: 1.25em;
	border: none;
	margin : 10px 0;
	background-color: #ff6666;
	font-weight: bold;
	float: left;
	cursor: pointer;
}

.dropdownL
{
	position: relative;
	float: left;
	left: 20%;
	padding: 4px 4px;
	margin: 8px 0;
	font-size: 1.2em;
	width: 15%;
}

.dropdownR
{
	position: relative;
	float: left;
	left: 50%;
	padding: 4px 4px;
	margin: 8px 0;
	font-size: 1.2em;
	width: 15%;
}

.dropdowncat
{
	position: relative;
	float: left;
	left: 20%;
	padding: 4px 4px;
	margin: 8px 0;
	font-size: 1.3em;
	width: 20%;
}
