.registerArea
{
	position: relative;
}

.errorArea
{
	position: relative;
}

.inputBox
{
	font-size: 1.2em;
	padding: 4px 4px;
	margin: 4px;
	width: 20%;
}

.btnRegister
{
	border: none;
	font-size: 1.4em;
	font-weight: bold;
	padding: 6px 12px;
	margin: 4px;
	width: 15%;
	cursor: pointer;
}