.items
{
	font-size: 1.75em;
	font-weight: bold;
	line-height: 1.2;
	position: relative;
	left: 6%;
}

.items a 
{
	color: black;
	text-decoration: none;
}

.subitems
{
	position: relative;
	left: 6%;
	line-height: 1.2;
	font-size: 0.9em;
	color: #808080;
}

.line
{
	position: relative;
	float: left;
	width: 700px;
	left: 6%;
}

.btnEdit
{
	border: none;
	background-color: #8cff66;
	position: relative;
	padding: 2px 1px;
	margin: 0 3px 0 0;
}

.btnEdit a
{
	text-decoration: none;
	padding: 2px 10px;
	color: black;
}

.btnRemove
{
	border: none;
	background-color: #ff8080;
	position: relative;
	padding: 2px 1px;
	margin: 0 3px 0 0;
}

.btnRemove a
{
	text-decoration: none;
	padding: 2px 10px;
	color: black;
}

.previewContent
{
	position: relative;
	left: 8%;
	width: 1000px;
	font-size: 1.2em;
}

.head
{
	font-size: 2.2em;
	position: relative;
	font-weight: bold;
	left: 4%;
	width: 400px;
}