.articleArea
{
	position: relative;
}

.commentArea
{
	position: relative;
}

.topic
{
	border: none;
	font-family: Verdana;
	font-size: 2.5em;
	font-weight: bold;
	left: 10%;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 8px 12px;
	position: relative;
	resize: none;
	width: 1400px;
	word-wrap: normal;
}

.content
{	
	font-family: Verdana;
	font-size: 1.25em;
	left: 16%;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 8px 12px;
	position: relative;
	resize: vertical;
	width: 1200px;
	word-wrap: normal;
	line-height: 1.5;
}

.commentField_cmt
{
	float: left;
	resize: none;
	font-size: 1.15em;
	position: relative;
	left: 6%;
	width: 34%;
	padding: 2px 8px;
}

.commentField_nme
{
	float: left;
	resize: none;
	font-size: 1.15em;
	position: relative;
	left: 6%;
	width: 20%;
	margin: 0 1% 0 0;
	padding: 2px 8px;
}

.btnComment
{
	border: none;
	float: left;
	font-size: 1.15em;
	position: relative;
	left: 7%;
	width: 10%;
	margin: 0 1% 0 0;
	padding: 4px 4px;
	cursor: pointer;
}

.commenter
{
	position: relative;
	left: 6%;
	font-weight: bold;
	font-size: 1.8em;
	float: left;
}

.commentInfo
{
	font-size: 0.8em;
	float: left;
	position: relative;
	left: 6.3%;
	padding-top: 12px;
	color: #808080;
}

.commentContent
{
	font-style: italic;
	position: relative;
	left: 8%;
	font-size: 1.2em;
}

img
{
	position: relative;
	float: left;
	padding: 4px 4px;
}

.footnote
{
	position: relative;
	left: 10%;
	line-height: 1.2;
	font-size: 0.9em;
	color: #808080;
	width: 60%;
}

.like
{
	position: relative;
	left: 4%;
}

.commentHead
{
	position: relative;
	left: 4%;
	font-size: 2.2em;
	font-weight: bold;
}

.line
{
	position: relative;
	float: left;
	width: 700px;
	left: 6%;
}

.commentoff
{
	position: relative;
	left: 4%;
	font-style: italic;
	font-weight: bold;
}